{% extends "adminlte/base.html" %}

 <!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>COLEGIO</title>
</head>

<body>
    {% block content %}
    <div class="jumbotron text-center">
        <h1>Sistema de colegio</h1>
        <div style="font-size: 1500%"><i class="fa fa-university" aria-hidden="true"></i></div>
    </div>
    {% endblock content %}
</body>

</html>
