{% load adminlte_helpers %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% firstof request.user.get_full_name request.user.username %}</p>
            </div>
        </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            <li class="header">{% block nav_heading %}NAVEGACIÓN{% endblock %}</li>

            {% block nav_links %}
            <li>
                <a href="{% url 'grado-list' %}">
                    <i class="fa fa-graduation-cap"></i> <span>Grados</span>
                </a>
            </li>
            <li>
                <a href="{% url 'estudiante-list' %}">
                    <i class="fa fa-users" aria-hidden="true"></i> <span>Estudiantes</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-plus-circle"></i> <span>Agregar</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="{% url 'grado-create' %}">
                            <i class="fa fa-graduation-cap"></i></i> Grado
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'estudiante-create' %}">
                            <i class="fa fa-users" aria-hidden="true"></i> Estudiante
                        </a>
                    </li>

                </ul>
            </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>