{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <table class="table text-left">
        <tr >
            <td>
                <div style="width: 200px;"><img class="img-responsive" src="{% static object.foto.url %}" style="max-width:350px;"></div>
            </td>
            <td >
                <div  class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Datos de usuario
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Identificación: <span class="badge badge-primary badge-pill">{{object.carnet}}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Nombre: <span class="badge badge-primary badge-pill">{{object.nombre}}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Apellido: <span class="badge badge-primary badge-pill">{{object.apellido}}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Seguro: <span class="badge badge-primary badge-pill">{{ estudiante.seguro }}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Fecha de nacimiento: <span class="badge badge-primary badge-pill">{{ estudiante.fecha_naci }}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Correo electrónico: <span class="badge badge-primary badge-pill">{{ estudiante.correo }}</span></a>
                    <a href="#" class="list-group-item list-group-item-action">Grado: <span class="badge badge-primary badge-pill">{{ estudiante.grado }}</span></a>
                </div>
                <div>
                    <a class="btn btn-danger" href="{% url 'estudiante-delete' estudiante.pk %}"><i class="fa fa-trash"></i>Eliminar</a>
                    <a class="btn btn-success" href="{% url 'estudiante-update' estudiante.pk %}"><i class="fa fa-edit"></i>Actualizar</a>
                    <a class="btn btn-primary" href="{% url 'estudiante-list' %}"><i class="fa fa-edit"></i>Regresar</a>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}