{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header text-center">
        <h1>Editando {{ estudiante.nombre }} {{ estudiante.apellido }}</h1>
    </div>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class="btn btn-primary" href="{% url 'estudiante-list' %}">Cancelar</a>
    </form>
</div>
{% endblock content%}