{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
        {% for grado in grado_data %}
        <h1>Listado de estudiantes del grado {{grado}}</h1>
        {% endfor %}

    </div>
</div>
<a href="{% url 'estudiante-create' %}" class="btn btn-success btn-rounded"><i class="fa fa-plus-circle"></i> Agregar
    estudiante</a>
<hr>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Identificación</th>
            <th scope="col">Nombres</th>
            <th scope="col">Seguro</th>
            <th scope="col">Fotografia</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Email</th>
            <th scope="col">Grado</th>
            <th scope="col">Horario</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes_data %}
        <tr>
            <td>{{ estudiante.carnet }}</td>
            <td>{{ estudiante.nombre }} {{ estudiante.apellido }}</td>
            <td>{{ estudiante.seguro }}</td>
            <td><img class="img-responsive" src="{% static estudiante.foto.url %}" style="max-width:70px;"></td>
            <td>{{ estudiante.fecha_naci }}</td>
            <td>{{ estudiante.correo }}</td>
            <td>{{ estudiante.grado }}</td>
            <td><img class="img-responsive" src="{% static estudiante.foto.url %}" style="max-width:70px;"></td>
            <td>
                <a class="btn btn-primary" href="{% url 'estudiante-detail' estudiante.pk %}"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success" href="{% url 'estudiante-update' estudiante.pk %}"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger" href="{% url 'estudiante-delete' estudiante.pk %}"><i class="fa fa-trash"></i></a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}