{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.name }}</h2>
     <hr>
        {% endblock section %}
        {% block maincontent %}
    <div>
        <table border="1px">
        <tr>
            {% for p in object.estudiante_set.all %}
                <td>
                    <div>{{ p.carnet }}</div>
                        <div>
                            <a href="{% url 'estudiante-detail' p.carnet %}">
                                <img src="{% static p.estudiante.url %}" style="width:200px;height:200px"/>
                            </a>
                        </div>
                </td>
            {% endfor %}
        </table>
    </div>
{% endblock maincontent %} 