{% extends "base.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="container text-center">
        <div class="row">
            <h1>¿Está eguro que desea eliminar el grado {{ object.grado }} - {{ object.anio }}?</h1>
        </div>
        <div class="row text-danger">
            <div class="jumbotron">
                <h1><i class="fa fa-graduation-cap"></i></h1>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-danger" type="submit" value="Confirmar" />
            <a class='btn btn-primary' href="{% url 'grado-list' %}">Cancelar</a>
        </div>
    </div>
</form>

{% endblock content %}