{% extends "base.html" %}
{% load static %}

{% block title %}Lista de grados{% endblock title %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
        <h1>Listado de grados existentes</h1>
    </div>
    <a href="{% url 'grado-create' %}" class="btn btn-success btn-rounded"><i class="fa fa-plus-circle"></i> Agregar grado</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Grado</th>
                <th scope="col">Año</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grado in object_list %}
            <tr>
                <td>{{ grado.grado }}</td>
                <td>{{ grado.anio }} {{ estudiante.apellido }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'estudiante-filter-list' grado.pk %}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-success" href="{% url 'grado-update' grado.pk %}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" href="{% url 'grado-delete' grado.pk %}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock content %}